@use "sass:math";
@import "../../../assets/styles/mixin";
@import "../../../assets/styles/alias";

.heading {
    display: flex;
    justify-content: space-between;
    border-bottom: rem(2) solid var(--grey-200);
    padding-bottom: rem(5);

    &:not(:last-child) {
        margin-bottom: em(40, 16);

        @media (max-width: ($lg+em)) {
            margin-bottom: em(30, 16);
        }

        @media (max-width: ($xs+em)) {
            margin-bottom: em(20, 16);
        }
    }

    @media (max-width: ($lg+em)) {
        h1 {
            margin-bottom: 0.05em;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: rem(20);

    @media (max-width: ($lg+em)) {
        gap: rem(10);
    }

    @media (max-width: ($xs+em)) {
        gap: rem(4);
    }

    @media (max-width: math.div(650em, 16)) {
        span {
            display: none;
        }
    }
}

.leftside {
    display: flex;
    align-items: center;
    gap: rem(30);

    @media (max-width: ($md+em)) {
        gap: 1rem;
    }

    @media (max-width: ($xs+em)) {
        gap: 0.8rem;
    }

    h1 {
        @include clamp-fontsize(math.div(38rem, 16), math.div(27rem, 16), 20rem);
    }
}