@import "../../../../assets/styles/mixin";

.formAttribute {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(380), 1fr));
    gap: rem(20);

    @media (max-width: ($xl+em)) {
        grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
    }

    @media (max-width: ($lg+em)) {
        gap: rem(10);
    }

    @media (max-width: ($sm+em)) {
        grid-template-columns: repeat(auto-fit, minmax(rem(180), 1fr));
    }
    @media (max-width: ($xs+em)) {
        grid-template-columns: repeat(auto-fit, minmax(rem(140), 1fr));
    }
}

.lastInput {
    display: flex;
    align-items: center;
    gap: rem(20);
    @media (max-width: ($sm+em)) {
        grid-column: 1/3;
    }
}

.button {
    width: rem(109);
}