@use "sass:math";
@import "../../assets/styles/alias";
@import "../../assets/styles/mixin";

.header {
    padding: rem(30) rem(40);

    @media (max-width: $lg+em) {
        padding: rem(15) rem(20);
    }
    @media (max-width: $xs+em) {
        padding: rem(10) rem(10);
    }
}