@use "sass:math";
@import "../../../../assets/styles/alias";
@import "../../../../assets/styles/mixin";

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
    gap: rem(20);

    @media (max-width: ($lg+em)) {
        gap: rem(10);
    }

    @media (max-width: ($sm+em)) {
        grid-template-columns: repeat(auto-fit, minmax(rem(150), 1fr));
        gap: rem(8);
    }
}

.item {
    background: #FFFFFF;
    box-shadow: 0px rem(20) rem(20) rgba(135, 138, 146, 0.16);
    padding: rem(20);
    border-radius: rem(6);

    @media (max-width: ($sm+em)) {
        padding: rem(15);
    }
}

.title {
    font-weight: 400;
    font-size: rem(18);
    line-height: math.div(26, 18);
    color: #000000;
    @media (max-width: ($xs+em)) {
        margin-bottom: 0.1em;
    }
}

.rank {
    font-weight: 700;
    font-size: rem(32);
    line-height: math.div(42, 32);

    @media (max-width: ($xs+em)) {
        font-size: rem(20);
    }
}